* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
:root {
  --dark-bg: #070b14;
  --light-bg: #111820;
  --text-color: #fefefe;
  --btn-blue: #6672fb;
  --dark-btn-blue: #4f5df5;
}
body {
  overflow-x: hidden;
}
.main {
  width: 100%;
  max-width: 100%;
  background-color: var(--light-bg);
  z-index: 1000;
}
.main .container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.main .container .right {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--dark-bg);
}
.main .container .right .up {
  width: 100%;
  background-color: var(--dark-bg);
  margin-bottom: 0.5%;
  display: flex;
  align-items: center;
}
.main .container .right .price-charts {
  width: 100%;
  display: flex;
  height: 8vh;
  align-items: center;
  background-color: var(--dark-bg);
  padding: 0rem 3rem;
  gap: 55px;
  animation: slideToLeft 20s infinite linear;
  z-index: 1;
}
.main .container .right .price-charts .bitcoin {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main .container .right .price-charts .bitcoin .bitcoin-left,
.main .container .right .price-charts .ethereum .ethereum-left,
.main .container .right .price-charts .bnb .bnb-left,
.main .container .right .price-charts .dogecoin .dogecoin-left,
.main .container .right .price-charts .litecoin .litecoin-left {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .container .right .price-charts .bitcoin .bitcoin-left img,
.main .container .right .price-charts .ethereum .ethereum-left img,
.main .container .right .price-charts .bnb .bnb-left img,
.main .container .right .price-charts .dogecoin .dogecoin-left img,
.main .container .right .price-charts .litecoin .litecoin-left img {
  width: 30px;
  height: 30px;
  margin-top: 0.3rem;
}
.main .container .right .price-charts .bitcoin .bitcoin-right,
.main .container .right .price-charts .ethereum .ethereum-right,
.main .container .right .price-charts .bnb .bnb-right,
.main .container .right .price-charts .dogecoin .dogecoin-right,
.main .container .right .price-charts .litecoin .litecoin-right {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.main .container .right .price-charts .bitcoin .bitcoin-right h3,
.main .container .right .price-charts .ethereum .ethereum-right h3,
.main .container .right .price-charts .bnb .bnb-right h3,
.main .container .right .price-charts .dogecoin .dogecoin-right h3,
.main .container .right .price-charts .litecoin .litecoin-right h3 {
  width: 100%;
  margin-top: 0.2rem;
  font-weight: 900;
  font-family:"Open Sans", sans-serif;
}
.main .container .right .price-charts .bitcoin .bitcoin-right i,
.main .container .right .price-charts .ethereum .ethereum-right i,
.main .container .right .price-charts .bnb .bnb-right i,
.main .container .right .price-charts .dogecoin .dogecoin-right i,
.main .container .right .price-charts .litecoin .litecoin-right i {
  color: var(--text-color);
}
.main .container .right .price-charts .bitcoin .bitcoin-right p,
.main .container .right .price-charts .ethereum .ethereum-right p,
.main .container .right .price-charts .bnb .bnb-right p,
.main .container .right .price-charts .dogecoin .dogecoin-right p,
.main .container .right .price-charts .litecoin .litecoin-right p {
  color: var(--text-color);
  width: 100%;
  margin-top: 0.2rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.main .container .right .price-charts .ethereum {
  width: 50%;
  height: 100%;
  display: flex;
  cursor: pointer;
}
.main .container .right .price-charts .bnb {
  width: 35%;
  height: 100%;
  display: flex;
  cursor: pointer;
}
.main .container .right .price-charts .dogecoin {
  width: 35%;
  height: 100%;
  display: flex;
  cursor: pointer;
}
.main .container .right .price-charts .litecoin {
  width: 50%;
  height: 100%;
  display: flex;
  cursor: pointer;
  margin-right:1rem;
}
.main .container .right .down {
  width: 100%;
  height: 8vh;
  background-color: var(--dark-bg);
}
.main .container .right .down .price-charts {
  display: flex;
  align-items: center;
}


@keyframes slideToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}