@media screen and (max-width:414px){
    .burger{
        margin-left:150px;
        margin-top:7px;
    }
    .container{
        transform:translateX(50%);
    }
    .active{
        transform:translateX(-50%);
    }
    body::before{
        height:400px;
        width:400px;
        top:-6%;
        left:-50%;
        opacity:.3;
    }
    body::after{
        height: 400px;
        width:400px;
        opacity:.3;
        right:-50%;
    }
    .body-section .body-text{
        line-height: 70px;
    }
    .body-section .body-text h1{
        top:15%;
        font-size: 60px;
    }
    .body-section .body-text p{
        top: 130%;width:80%;
        margin-top:20px;
    }
    .body-section .body-img img{
        width:80%;
        height:160%;
        transform:translate(14%, 100%);
    }
}