@media screen and (max-width: 1024px) {
  .body-img img {
    width: 40%;
    height: 120%;
    margin-top: 20px;
    transform: translate(120%, 20%);
  }
  .body-section .body-text h1 {
    top: 40%;
    left: 10%;
    font-size: 70px;
    letter-spacing: 1px;
  }
  .body-section .body-text p {
    width:50%;
    top: 90%;
    left: 10%;
    margin-top: 80px;
    line-height: 20px;
    letter-spacing: 1px;
  }
  .navlinks{
    width:50%;
    margin-left:-210px;
  }
  .container a{
    font-size:14px;
  }
  .nav-logo {
    margin-left:-45px;
  }
}
